<%= render 'users/new' %>

<h2>Log in</h2>

<form id='new-session'>
  <input type="email" placeholder='Email'></input>
  <input type="password" placeholder='Password'></input>
  <button>Sign in</button>
</form>
