<div id="new-entry">
  <h2>Add new timezone</h2>
  <table>
  <tr>
    <td>
      <label for="">Enter name of timezone or difference to GMT:</label>
    </td>
    <td>
      <input type="text" id='timezone-input' placeholder='Ex: -3 or Brasilia'>
    </td>
  </tr>

  <tr>
    <td>
      <label for="">Name of city</label>
    </td>
    <td>
      <input type="text" id='city-input' placeholder='City name'></input>
    </td>
  </tr>

  <tr>
    <td colspan='2'>
      <button id='save'>Save entry</button>
    </td>
  </tr>
  </table>
</div>
