<div id="new-entry">
  <h3>Add new timezone</h3>

  <input type="text" placeholder='Entry name'></input>
  <input type="text" id='timezone-input' placeholder'Enter timezone'>
  <input type="text" id='city-input' placeholder'Enter city'>

  <button id='save'>Save entry</button>
</div>
