/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Helvetica';
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: url('/assets/geometry.png');
}

.notice, .error {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: .5em 0 .5em 2em;
  width: 100%;
}

.notice {
  background-color: rgba(100, 149, 237, .5);
}

.error {
  background-color: rgba(255, 69, 0, .5);
}

.content {
  width: 800px;
  display: block;
  margin: 2em auto;
  padding: 1em;
}

a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
}

@media only screen and (max-width: 800px) {
  .content {
    width: 100%;
  }
}
