/*
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Helvetica';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.notice, .error {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: .5em 0 .5em 2em;
  width: 100%;
}

.notice {
  background-color: rgba(100, 149, 237, .5);
}

.error {
  background-color: rgba(255, 69, 0, .5);
}

.content {
  width: 800px;
  display: block;
  margin: 2em auto;
  padding: 1em;
}

a {
  text-decoration: none;
  outline: none;
}
a:hover { text-decoration: none; }

.nav {
  margin: 0;
  padding: .6em;
  width: 100%;
  list-style-type: none;
  text-align: right;
  background-color: #EBE8E8;
  position: fixed;
  top: 0;
}

.nav li {
  display: inline;
  margin-right: 2em;
}

.nav a {
  color: #0071E3;
}

.nav a:hover {
  color: #0045A3;
}

.entries li {
  display: inline-block;
  vertical-align: top;
  max-width: 10em;
  margin-right: 2em;
}

.new-entry {
}
#save {
  float: right;
}
#timezone-input, #city-input {
  width: 12em;
}
